.App {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This ensures that padding and borders do not add extra width */
}


.divider {
  height: 4px;
  background: linear-gradient(90deg, #502c2c, #db9334);
  transform-origin: left;
}
