name: docker-deploy
on:
  push:
    branches: [ "docker" ]
jobs:
  build-and-push-to-dockerhub:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
  
    - name: Build tag and push 
      uses: mr-smithers-excellent/docker-build-push@v3
      with:
        image: soundnw/fullstack
        registry: docker.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
  
  Deploy:
    runs-on: ubuntu-latest
    needs: build-and-push-to-dockerhub 
    steps:
    - name: Deploy to Linode instance
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        script: |
          cd /root/CICD-react-frontend
          sudo git checkout docker
          sudo git pull docker
          sudo docker-compose pull
          sudo docker-compose up -d --force-recreate

          
          
